In [3]:
import pandas as pd
file= pd.read_csv("HRDataset_v14W.csv")

In [6]:
file.loc[file["Position"]=="Production Technician I"]

             Employee_Name  ...  YearsWithCurrManager
0      Adinolfi, Wilson  K  ...                     5
3             Alagbe,Trina  ...                     0
4         Anderson, Carol   ...                     2
5        Anderson, Linda    ...                     6
7              Athwal, Sam  ...                     0
..                     ...  ...                   ...
301          Wilber, Barry  ...                     0
302          Wilkes, Annie  ...                     7
303  Williams, Jacquelyn    ...                     7
307     Ybarra, Catherine   ...                     1
310          Zima, Colleen  ...                     0

[137 rows x 56 columns]

In [7]:
file.loc[file["Position"]=="Production Technician I"].count()

Employee_Name                 137
EmpID                         137
MarriedID                     137
MaritalStatusID               137
Gender                        137
EmpStatusID                   137
DeptID                        137
PerfScoreID                   137
FromDiversityJobFairID        137
Salary                        137
Termd                         137
PositionID                    137
Position                      137
State                         137
Zip                           137
DOB                           137
Sex                           137
MaritalDesc                   137
CitizenDesc                   137
DateofHire                    137
DateofTermination              52
TermReason                    137
EmploymentStatus              137
Department                    137
ManagerName                   137
ManagerID                     133
RecruitmentSource             137
PerformanceScore              137
EngagementSurvey              137
EmpSatisfaction               137
SpecialProjectsCount          137
LastPerformanceReview_Date    137
DaysLateLast30                137
Absences                      137
DistanceFromHome              137
Age                           137
Attrition                     137
BusinessTravel                137
Education                     137
EducationField                137
JobSatisfaction               137
MonthlyIncome                 137
MonthlyRate                   137
NumCompaniesWorked            137
OverTime                      137
PercentSalaryHike             137
PerformanceRating             137
StandardHours                 137
StockOptionLevel              137
TotalWorkingYears             137
TrainingTimesLastYear         137
WorkLifeBalance               137
YearsAtCompany                137
YearsInCurrentRole            137
YearsSinceLastPromotion       137
YearsWithCurrManager          137
dtype: int64

In [9]:
file.loc[file["Gender"]=="Male"].count()

Employee_Name                 193
EmpID                         193
MarriedID                     193
MaritalStatusID               193
Gender                        194
EmpStatusID                   193
DeptID                        193
PerfScoreID                   193
FromDiversityJobFairID        193
Salary                        193
Termd                         193
PositionID                    193
Position                      193
State                         193
Zip                           193
DOB                           193
Sex                           193
MaritalDesc                   193
CitizenDesc                   193
DateofHire                    193
DateofTermination              64
TermReason                    193
EmploymentStatus              193
Department                    193
ManagerName                   193
ManagerID                     187
RecruitmentSource             193
PerformanceScore              193
EngagementSurvey              193
EmpSatisfaction               193
SpecialProjectsCount          193
LastPerformanceReview_Date    193
DaysLateLast30                193
Absences                      193
DistanceFromHome              193
Age                           194
Attrition                     194
BusinessTravel                194
Education                     194
EducationField                194
JobSatisfaction               194
MonthlyIncome                 194
MonthlyRate                   194
NumCompaniesWorked            194
OverTime                      194
PercentSalaryHike             194
PerformanceRating             194
StandardHours                 194
StockOptionLevel              194
TotalWorkingYears             194
TrainingTimesLastYear         194
WorkLifeBalance               194
YearsAtCompany                194
YearsInCurrentRole            194
YearsSinceLastPromotion       194
YearsWithCurrManager          194
dtype: int64

In [10]:
file.loc[(file["EmploymentStatus"]=="Active") & (file["MaritalDesc"]=="Married") ]

         Employee_Name    EmpID  ...  YearsSinceLastPromotion  YearsWithCurrManager
3         Alagbe,Trina  10088.0  ...                        3                     0
16    Beak, Kimberly    10023.0  ...                        0                     5
22       Billis, Helen  10003.0  ...                        2                    11
26   Boutwell, Bonalyn  10081.0  ...                        6                     7
29          Brown, Mia  10238.0  ...                        2                     1
..                 ...      ...  ...                      ...                   ...
271   Sullivan, Kissy   10158.0  ...                        9                     9
272  Sullivan, Timothy  10117.0  ...                        0                     4
275       Tannen, Biff  10173.0  ...                        0                     2
287      Turpin, Jumil  10045.0  ...                        1                     2
288    Valentin,Jackie  10205.0  ...                        0                     2

[77 rows x 56 columns]

In [11]:
file

                Employee_Name  ...  YearsWithCurrManager
0         Adinolfi, Wilson  K  ...                     5
1    Ait Sidi, Karthikeyan     ...                     7
2           Akinkuolie, Sarah  ...                     0
3                Alagbe,Trina  ...                     0
4            Anderson, Carol   ...                     2
..                        ...  ...                   ...
307        Ybarra, Catherine   ...                     1
308          Zamora, Jennifer  ...                     2
309               Zhou, Julia  ...                     3
310             Zima, Colleen  ...                     0
311                       NaN  ...                    11

[312 rows x 56 columns]

In [18]:
file.loc[(file["EmploymentStatus"]=="Voluntarily Terminated") & (file["MaritalDesc"]=="Divorced") ]

          Employee_Name    EmpID  ...  YearsSinceLastPromotion  YearsWithCurrManager
4      Anderson, Carol   10069.0  ...                        2                     2
14        Barton, Nader  10066.0  ...                        0                     3
103       Gerke, Melisa  10122.0  ...                        2                    10
119        Gross, Paula  10059.0  ...                        4                    12
136         Huynh, Ming  10160.0  ...                        0                     3
158   Langford, Lindsey  10106.0  ...                        2                    11
224      Power, Morissa  10187.0  ...                        1                     4
226    Purinton, Janine  10262.0  ...                        5                     8
229      Rarrick, Quinn  10152.0  ...                        0                     1
231      Rhoads, Thomas  10058.0  ...                       11                    15
233       Roberson, May  10230.0  ...                        0                     6
244       Ruiz, Ricardo  10222.0  ...                        1                     7
249       Salter, Jason  10229.0  ...                        0                     2
265  Squatrito, Kristen  10030.0  ...                        0                     0
289    Veera, Abdellah   10014.0  ...                        0                     2
302       Wilkes, Annie  10204.0  ...                        0                     7

[16 rows x 56 columns]

In [21]:
for k in file.index:
  if (file.loc[k, "EmploymentStatus" ] == "Active"):
    if (file.loc[k, "Salary" ] < 60000 ):
      print(file.loc[k,  "Employee_Name"])

Anderson, Linda
Athwal, Sam
Bachiochi, Linda
Bacong, Alejandro
Barone, Francesco  A
Beatrice, Courtney
Becker, Scott
Bernstein, Sean
Carey, Michael
Chan, Lin
Clukey, Elijian
Crimmings,   Jean
Darson, Jene'ya
Davis, Daniel
Dee, Randy
Desimone, Carl
Dickinson, Geoff
Dietrich, Jenna
Dobrin, Denisa  S
Engdahl, Jean
England, Rex
Erilus, Angela
Fett, Boba
Fidelia,  Libby
Garcia, Raul
Gaul, Barbara
Gentry, Mildred
Girifalco, Evelyn
Gold, Shenice
Gonzalez, Cayo
Gordon, David
Goyal, Roxana
Handschiegl, Joanne
Heitzman, Anthony
Hudson, Jane
Ivey, Rose
Jacobi, Hannah
Keatts, Kramer
Knapp, Bradley  J
Langton, Enrico
Lindsay, Leonara
Lydon, Allison
Mahoney, Lauren
Maurice, Shana
Carthy, B'rigit
Medeiros, Jennifer
Monkfish, Erasumus
Morway, Tanya
Myers, Michael
Newman, Richard
Ngodup, Shari
Osturnka, Adeel
Owad, Clinton
Pitt, Brad
Punjabhi, Louis
Rivera, Haley
Saar-Beckles, Melinda
Sahoo, Adil
Sander, Kamrin
Sewkumar, Nori
Shepard, Anita
Shields, Seffi
Singh, Nan
Smith, Sade
Stanford,Barbara  M
Stansfield, Norman
Sutwell, Barbara
Terry, Sharlene
Tippett, Jeanette
Valentin,Jackie
Villanueva, Noah
Zima, Colleen

In [25]:
for k in file.index:
  if (file.loc[k, "Position" ] == "Production Technician II"):
    if (file.loc[k, "EngagementSurvey" ] == file["EngagementSurvey"].max() ):
      print(file.loc[k,  "Employee_Name"])

Hankard, Earnest
Hendrickson, Trina
Manchester, Robyn
Mancuso, Karen
Carthy, B'rigit
Oliver, Brooke
Winthrop, Jordan

In [27]:
df=file

In [28]:
for k in df.index :
  if  (df.loc[k,'Salary']== df['Salary'].max()) :
    print(df.loc[k,'Position'])

President & CEO

In [29]:
for k in df.index :
  if  (df.loc[k,'Salary']< df['Salary'].max()) :
    print(df.loc[k,'Position'])

Production Technician I
Sr. DBA
Production Technician II
Production Technician I
Production Technician I
Production Technician I
Software Engineer
Production Technician I
Production Technician I
IT Support
Production Technician I
Production Technician I
Data Analyst
Production Technician I
Production Technician I
Production Technician I
Production Technician II
Production Technician I
Database Administrator
Production Technician I
Production Technician I
Production Technician I
Production Technician I
Production Technician II
Production Technician II
Enterprise Architect
Sr. Accountant
Production Manager
Production Technician I
Accountant I
Production Technician II
Production Technician I
Area Sales Manager
Production Technician II
Production Technician II
Software Engineering Manager
Production Manager
Software Engineer
Production Technician I
Sr. DBA
Area Sales Manager
Production Technician I
BI Director
Production Technician I
Production Technician I
Area Sales Manager
Production Technician I
Production Technician I
IT Support
Production Technician II
Production Technician II
Production Technician I
Production Technician I
Production Technician I
Production Manager
Director of Operations
Production Technician I
Data Analyst
Production Technician I
Sr. Network Engineer
Sales Manager
Sr. Network Engineer
Production Technician I
Production Technician II
Production Technician I
Production Technician I
Software Engineer
Area Sales Manager
Production Technician II
Production Technician I
BI Developer
Production Technician I
Area Sales Manager
Production Technician I
Production Technician I
IT Support
IT Manager - Support
Area Sales Manager
Production Manager
Production Technician I
Production Technician I
Production Technician I
Production Technician I
Production Technician II
Production Technician I
Production Technician I
Software Engineer
Production Technician II
Production Technician II
Production Technician I
Production Technician I
Network Engineer
Production Technician I
Production Technician II
Production Technician II
Area Sales Manager
IT Director
Sr. Accountant
Area Sales Manager
IT Support
Production Technician I
Production Technician I
Production Technician I
Production Technician I
Area Sales Manager
Production Technician I
Production Technician I
Area Sales Manager
Database Administrator
IT Support
Production Technician I
Production Technician I
Production Technician II
IT Support
Production Technician II
Production Technician I
Production Technician II
Production Technician I
Production Manager
Production Technician I
BI Developer
Area Sales Manager
Production Technician I
Production Technician II
Production Technician I
Production Technician I
Production Technician I
Production Technician II
Area Sales Manager
Production Technician II
Database Administrator
Director of Sales
Administrative Assistant
Production Technician I
Production Technician II
Production Technician II
Production Technician II
Production Manager
Production Technician I
Production Technician I
Production Technician I
Production Technician II
Production Technician I
Production Technician I
Database Administrator
Production Technician II
Production Technician I
Sales Manager
Production Technician I
Area Sales Manager
Production Technician I
Production Technician I
Production Technician I
Production Technician I
Area Sales Manager
Sr. Network Engineer
Production Manager
Production Technician II
Production Technician I
Accountant I
Production Technician II
Senior BI Developer
Production Technician I
Shared Services Manager
Production Technician I
Area Sales Manager
Production Manager
Production Technician I
Production Technician II
IT Support
Production Technician II
Production Technician II
Production Technician I
Production Technician I
Production Technician I
Production Technician I
Production Technician II
Production Technician II
Production Technician I
Software Engineer
Production Technician I
Production Technician II
Production Technician I
Area Sales Manager
Production Technician I
Production Technician I
Production Manager
Production Technician II
Production Technician II
IT Manager - Infra
Production Technician II
Production Technician II
Network Engineer
Production Technician I
Production Technician II
Production Technician I
Senior BI Developer
Production Technician I
Production Technician I
Production Technician I
Production Technician I
Area Sales Manager
Production Technician I
Production Technician II
Production Technician I
Production Technician II
Area Sales Manager
Production Technician I
Production Technician I
Area Sales Manager
Production Technician I
Software Engineer
Data Analyst
Production Technician I
Production Technician II
Production Technician I
Production Technician II
Production Manager
Production Technician II
Data Analyst
Production Technician I
Production Technician I
Area Sales Manager
Production Technician I
Production Technician I
Production Technician I
Software Engineer
BI Developer
Production Technician I
Area Sales Manager
Production Technician I
Production Technician I
Production Technician II
Production Technician II
Production Technician I
Production Technician I
Production Technician I
Data Analyst
Principal Data Architect
Data Architect
Production Technician I
Production Technician I
IT Manager - DB
IT Manager - DB
Software Engineer
Production Technician I
Production Technician I
Production Technician II
Data Analyst
Production Technician I
Production Technician I
Network Engineer
Production Technician I
Data Analyst
Administrative Assistant
Production Technician II
Production Technician II
Sales Manager
Administrative Assistant
Production Technician I
IT Support
Sr. Network Engineer
Production Technician I
Production Manager
Production Technician I
Production Technician I
Area Sales Manager
Accountant I
Production Technician I
Area Sales Manager
Production Manager
Production Technician I
Production Technician I
Software Engineer
BI Developer
Production Technician I
Production Technician II
Area Sales Manager
Production Technician I
Production Technician II
Production Technician I
Area Sales Manager
Production Technician I
Network Engineer
Software Engineer
Production Technician II
Network Engineer
Area Sales Manager
Production Technician I
Production Manager
Area Sales Manager
Database Administrator
Production Technician I
Production Technician I
Production Technician II
Production Manager
Production Technician I
Senior BI Developer
Sr. Network Engineer
Production Technician I
Production Technician I
Production Technician I
Production Technician I
Production Technician II
Production Technician II
Production Technician II
Production Technician I
CIO
Data Analyst
Production Technician I

In [30]:
for k in df.index :
  if  (df.loc[k,'Salary'] < df['Salary'].mean()) :
    print(df.loc[k,'Employee_Name'])

Adinolfi, Wilson  K
Akinkuolie, Sarah
Alagbe,Trina
Anderson, Carol
Anderson, Linda
Athwal, Sam
Bachiochi, Linda
Bacong, Alejandro
Baczenski, Rachael
Barbara, Thomas
Barone, Francesco  A
Barton, Nader
Bates, Norman
Beatrice, Courtney
Becker, Scott
Bernstein, Sean
Biden, Lowan  M
Billis, Helen
Blount, Dianna
Bondwell, Betsy
Brill, Donna
Brown, Mia
Buccheri, Joseph
Bugali, Josephine
Burke, Joelle
Burkett, Benjamin
Carey, Michael
Chace, Beatrice
Chan, Lin
Chang, Donovan  E
Chigurh, Anton
Chivukula, Enola
Cierpiszewski, Caroline
Clayton, Rick
Cloninger, Jennifer
Close, Phil
Clukey, Elijian
Cockel, James
Cole, Spencer
Corleone, Michael
Cornett, Lisa
Crimmings,   Jean
Daneault, Lynn
Darson, Jene'ya
Davis, Daniel
Dee, Randy
DeGweck,  James
Delarge, Alex
Demita, Carla
Desimone, Carl
Dickinson, Geoff
Dietrich, Jenna
DiNocco, Lily
Dobrin, Denisa  S
Dunne, Amy
Eaton, Marianne
Engdahl, Jean
England, Rex
Erilus, Angela
Estremera, Miguel
Evensen, April
Fancett, Nicole
Ferguson, Susan
Fernandes, Nilson
Fett, Boba
Fidelia,  Libby
Foreman, Tanya
Fraval, Maruk
Galia, Lisa
Garcia, Raul
Gaul, Barbara
Gentry, Mildred
Gerke, Melisa
Gill, Whitney
Gilles, Alex
Girifalco, Evelyn
Givens, Myriam
Gold, Shenice
Gonzalez, Cayo
Gonzalez, Juan
Gonzalez, Maria
Good, Susan
Gordon, David
Gosciminski, Phylicia
Goyal, Roxana
Gray, Elijiah
Gross, Paula
Handschiegl, Joanne
Hankard, Earnest
Harrington, Christie
Harrison, Kara
Heitzman, Anthony
Hendrickson, Trina
Homberger, Adrienne  J
Howard, Estelle
Hudson, Jane
Hutter, Rosalie
Huynh, Ming
Ivey, Rose
Jackson, Maryellen
Jacobi, Hannah
Jeannite, Tayana
Jhaveri, Sneha
Johnson, George
Johnston, Yen
Jung, Judy
Kampew, Donysha
Keatts, Kramer
Khemmich, Bartholemew
Kinsella, Kathleen
Kirill, Alexandra
Knapp, Bradley  J
Kretschmer, John
Langford, Lindsey
Langton, Enrico
LaRotonda, William
Latif, Mohammed
Leach, Dallas
Lecter, Hannibal
Linares, Marilyn
Linden, Mathew
Lindsay, Leonara
Lundy, Susan
Lydon, Allison
Lynch, Lindsay
MacLennan, Samuel
Mahoney, Lauren
Manchester, Robyn
Mancuso, Karen
Mangal, Debbie
Maurice, Shana
Carthy, B'rigit
Mckenna, Sandy
McKinzie, Jac
Meads, Elizabeth
Medeiros, Jennifer
Miller, Ned
Monkfish, Erasumus
Morway, Tanya
Motlagh,  Dawn
Myers, Michael
Ndzi, Colombui
Ndzi, Horia
Newman, Richard
Ngodup, Shari
Nguyen, Dheepa
Nguyen, Lei-Ming
Nowlan, Kristie
O'hare, Lynn
Onque, Jasmine
Osturnka, Adeel
Owad, Clinton
Ozark, Travis
Panjwani, Nina
Smith, Martin
Pelletier, Ermine
Perry, Shakira
Peters, Lauren
Pham, Hong
Pitt, Brad
Potts, Xana
Power, Morissa
Punjabhi, Louis
Purinton, Janine
Rarrick, Quinn
Ren, Kylo
Rhoads, Thomas
Rivera, Haley
Roberson, May
Robertson, Peter
Robinson, Alain
Robinson, Cherly
Robinson, Elias
Rose, Ashley
Rossetti, Bruno
Saar-Beckles, Melinda
Sadki, Nore
Sahoo, Adil
Sander, Kamrin
Sewkumar, Nori
Shepard, Anita
Shields, Seffi
Singh, Nan
Sloan, Constance
Smith, Joe
Smith, Leigh Ann
Smith, Sade
Soto, Julia
Sparks, Taylor
Spirea, Kelley
Squatrito, Kristen
Stanford,Barbara  M
Stansfield, Norman
Steans, Tyrone
Stoica, Rick
Strong, Caitrin
Sullivan, Kissy
Sullivan, Timothy
Sutwell, Barbara
Tavares, Desiree
Terry, Sharlene
Theamstern, Sophia
Thibaud, Kenneth
Tippett, Jeanette
Torrence, Jack
Trang, Mei
Valentin,Jackie
Veera, Abdellah
Villanueva, Noah
Volk, Colleen
Von Massenbach, Anna
Walker, Roger
Wallace, Theresa
Whittier, Scott
Wilber, Barry
Wilkes, Annie
Williams, Jacquelyn
Wolk, Hang  T
Woodson, Jason
Ybarra, Catherine
Zima, Colleen

In [31]:
for k in df.index :
  if  (df.loc[k,'Salary'] < df['Salary'].mean()) :
    if (df.loc[k,"EmpSatisfaction"]<3) :
      print(df.loc[k,'Employee_Name'])

Brown, Mia
Corleone, Michael
Desimone, Carl
Dietrich, Jenna
Erilus, Angela
Miller, Ned
O'hare, Lynn
Sparks, Taylor
Stansfield, Norman
Ybarra, Catherine